


 .a1{ color: red;
     font-family: Arial;
       }



     
.box { 
     font-family: Arial;    
     width: 520px;
     height: min-content;
     padding: 10px;
     background-color: rgb(255, 255, 207);
     
    }

.lauren {font-size: 32px;
          font-family: Arial;
        }

.tpf {font-size: 23px;
     font-family: Arial;
     }

.left{ text-align: left;


     }
       
.jjj {font-size: 18px;
     font-family: Arial, Helvetica, sans-serif;
     }

.woo {font-size: 24px;
      font-family: Arial, Helvetica, sans-serif;
     }

body{ 
    margin:auto;
    font-size: 18px;
    padding: 2em; 
    }
  
.kaboom{
     font-size: 24px; 
     }

.gah{
     font-size: 24px;
     }

.yo{ 
     font-family: Arial, Helvetica, sans-serif;
     }

.jaja{ 
     font-size: 25px;
     font-family: Arial, Helvetica, sans-serif;
     }
      
.weewoo{ 
     font-size: 25px;
     font-family: Arial, Helvetica, sans-serif;
     }